<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/login.css">
<div class="tela-cadastro login">
    <div class="container mt-3">
        <h2>Login</h2>
        <form class="row g-3" method="POST" action="/login">
            <div class="col-md-12">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email" required>
            </div>
            <div class="col-md-12">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" required>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Entrar</button>
                <a href="/signup" class="btn btn-secondary">Cadastrar</a>
            </div>
        </form>
    </div>
</div>