 <link rel="stylesheet" href="/css/navigation.css">
 <div class="container">
    <nav>
	    <ul class="mcd-menu">
			<li>
				<a href="/" class="active">
					<i class="fa fa-home"></i>
					<strong>Início</strong>
				</a>
			</li>
			<li>
				<a href="/cliente">
					<i class="fa fa-edit"></i>
					<strong>Clientes</strong>
				</a>
			</li>
			<li>
				<a href="/produto">
					<i class="fa fa-gift"></i>
					<strong>Produtos</strong>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa fa-globe"></i>
					<strong>Compras</strong>
				</a>
			</li>
            <li>
				<a href="">
					<i class="fa fa-globe"></i>
					<strong>Vendas</strong>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa fa-comments-o"></i>
					<strong>Relatórios</strong>
				</a>
				<ul>
					<li><a href="#"><i class="fa fa-globe"></i>Relatório de Compra</a></li>
					<li><a href="#"><i class="fa fa-trophy"></i>Relatório de Venda</a></li>
				</ul>
			</li>
			<li>
				<a href="">
					<i class="fa fa-envelope-o"></i>
					<strong>Configuração</strong>
				</a>
			</li>
			<!-- <li class="float">
				<a class="search">
					<input type="text" value="search ...">
					<button><i class="fa fa-search"></i></button>
				</a>
				<a href="" class="search-mobile">
					<i class="fa fa-search"></i>
				</a>
			</li> -->
		</ul>
	</nav>
</div>