:root {
  --primary-900: hsl(256, 43%, 7%);
  --primary-800: hsl(240, 24%, 13%);
  --primary-700: hsl(243, 26%, 15%);
  --primary-600: hsl(252, 9%, 22%);
  --primary-500: hsl(259, 13%, 28%);
  --primary-400: hsl(254, 22%, 32%);

  --primary-300: hsl(251, 13%, 68%);
  --primary-200: hsl(240, 15%, 76%);
  --primary-100: hsl(240, 21%, 88%);

  --neutral-100: hsl(0, 0%, 100%);

  --accent-400: hsl(93, 60%, 69%);

  --text-1: var(--neutral-100);
  --text-2: var(--primary-100);
  --text-3: var(--primary-200);

  --surface-1: var(--primary-900);
  --surface-2: var(--primary-800);
  --surface-3: var(--primary-700);

  --border-1: var(--primary-500); /* top */
  --border-2: var(--primary-600); /* bottom */
}

body {
    font-family: "Calibri", sans-serif;
    background-color: var(--primary-900);
    background-image: url('/imgs/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

.sidebar {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 650px;
    width: 200px;
    padding-top: 20px;
    transition: width 0.3s;
    border-radius: 1rem;
    /* --border-width: 1px; */
    background: hsl(255, 44%, 7%, 0.5);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sidebar::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    /* border: var(--border-width) solid transparent; */
    background: linear-gradient(var(--border-1), var(--border-2)) border-box;
    mask: linear-gradient(black, black) border-box,
    linear-gradient(black, black) padding-box;
    mask-composite: subtract;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: hsl(255, 44%, 7%, 0.5);
}

.sidebar .nav-link:hover {
    background-color: hsla(0, 0%, 100%, 0.5);
    color: #000000;
}

.sidebar .sub-menu {
    background-color: hsl(255, 44%, 7%, 0.5);
}

.main-content {
    height: 100%;
    margin-left: 200px;
    padding: 20px;
}

@media (max-width: 480px) {
    .sidebar {
        width: 60px;
    }
    
    .sidebar .description {
        display: none;
    }

    .sidebar .nav-link {
        justify-content: center;
    }

    .main-content {
        margin-left: 60px;
    }
}