:root {
  --primary-900: hsl(256, 43%, 7%);
  --primary-800: hsl(240, 24%, 13%);
  --primary-700: hsl(243, 26%, 15%);
  --primary-600: hsl(252, 9%, 22%);
  --primary-500: hsl(259, 13%, 28%);
  --primary-400: hsl(254, 22%, 32%);

  --primary-300: hsl(251, 13%, 68%);
  --primary-200: hsl(240, 15%, 76%);
  --primary-100: hsl(240, 21%, 88%);

  --neutral-100: hsl(0, 0%, 100%);

  --accent-400: hsl(93, 60%, 69%);

  --text-1: var(--neutral-100);
  --text-2: var(--primary-100);
  --text-3: var(--primary-200);

  --surface-1: var(--primary-900);
  --surface-2: var(--primary-800);
  --surface-3: var(--primary-700);

  --border-1: var(--primary-500); /* top */
  --border-2: var(--primary-600); /* bottom */
}

.tela-cadastro {
    position: absolute;
    background-color: #ffffff;
    font-size: 1.6em;
    width: 1000px;
    height: 600px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    place-items: center;
    font-family: "Calibri", sans-serif;
    border-radius: 0.3em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
