.tela-cadastro {
    position: absolute;
    background-color: #ffffff;
    font-size: 1.6em;
    width: 1000px;
    height: 650px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    place-items: center;
    font-family: "Calibri", sans-serif;
    border-radius: 0.3em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: -1;
}
