.tela-cadastro {
    position: absolute;
    /* background-color: hsl(255, 44%, 7%, 0.5); */
    background-color: hsla(0, 0%, 100%, 0.8);
    color:  hsl(255, 44%, 7%, 0.7);
    width: 1000px;
    height: 650px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    place-items: center;
    font-family: "Calibri", sans-serif;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: -1;
}

.tela-cadastro h2 {
    font-size: 25px;
    margin-bottom: 40px;
    text-align: center;
}

.tela-cadastro form {
    font-size: 16px;
}

.form-control {
    background-color: hsla(0, 0%, 100%, 0.7);
    color: black;
    border: none;
    height: 30px;
    border-radius: 0.5rem;
}

.tela-cadastro textarea {
   height: auto; 
}

.form-control::placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.5;
}



