.signup {
    position: absolute;
    /* background-color: hsl(255, 44%, 7%, 0.5); */
    background-color: hsla(0, 0%, 100%, 0.8);
    color:  hsl(255, 44%, 7%, 0.7);
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    place-items: center;
    font-family: "Calibri", sans-serif;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: -1;
}

.signup h2 {
    font-size: 25px;
    margin-bottom: 40px;
    text-align: center;
}
