<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestão</title>
</head>
<body>
    <%- include('../includes/navigation.ejs',{path: '/cliente'}) %>
    <hr>
    <table>
        <tr>
            <td>Novo Cliente</td>
        </tr> 
    </table>
    <hr>
    <label>Pesquisar:</label>
    <input type="text">
    <hr>
    <table>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>CPF/CNPJ</td>
            <td>Telefone</td>
            <td>Opções</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Guilherme</td>
            <td>9999999999</td>
            <td>(99) 9999 - 9999</td>
            <td><a href="">Editar</a> <a href="">Excluir</a></td>
        </tr>
    </table>
</body>
</html>